@import '~normalize.css';

@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
}
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', system-ui, Tahoma, sans-serif;
}
