@import '~normalize.css';

@font-face {
    font-family: 'Source Sans Pro';
    src: url('@/assets/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('@/assets/fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
}

$font-stack: 'Source Sans Pro', system-ui, Tahoma, sans-serif;

html,
body {
    font-family: $font-stack;
}
